.menu {
  font-size: xx-large;
  background-color: rgb(39, 39, 39);
  color: rgb(252, 163, 17);
  text-align: center;
}

body {
  background: rgb(39, 39, 39);
}

a {
 color: rgb(252, 163, 17); /* Цвет ссылок */
}
a:visited {
  color: rgb(252, 163, 17); /* Цвет посещенных ссылок */
 }
a:active {
  color: rgb(252, 163, 17); /* Цвет активных ссылок */
 }

.title{
  font-size: 600%;
  color: rgb(255, 157, 0);
  position: fixed;
  top: 32%;
  right: 20%;
  text-align: center;
  width: 60%;
  z-index:3;
}


.title-back{
  font-size: 600%;
  background-color: rgb(229, 229, 229);
  color: rgb(229, 229, 229);
  position: fixed;
  top: 32%;
  right: 20%;
  text-align: center;
  width: 60%;
  z-index:2;
  opacity: 80%;
}

.image{
  width: 100%;
  position: fixed;
  top: 48px;
  z-index:1;
}

.account-posts{
  background-color: rgb(229, 229, 229);
  position: fixed;
  top: 52%;
  right: 25%;
  width: 50%;
  z-index:2;
}

.posts-name{
  font-size: 200%;
}

.posts-date{
  position: relative;
  top: 100%;
}

.avatar{
  width: 300px;
  position: relative;
  top: -360px;
}