.menu {
  font-size: xx-large;
  background-color: rgb(39, 39, 39);
  color: rgb(252, 163, 17);
  text-align: center;
  z-index: 5;
}

body {
  background: rgb(39, 39, 39);
  font-family: 'Roboto', sans-serif;
}

a {
 color: rgb(252, 163, 17); /* Цвет ссылок */
}
a:visited {
  color: rgb(252, 163, 17); /* Цвет посещенных ссылок */
 }
a:active {
  color: rgb(252, 163, 17); /* Цвет активных ссылок */
 }

.title{
  font-size: 400%;
  color: rgb(255, 157, 0);
  position: fixed;
  top: 32%;
  right: 20%;
  text-align: center;
  width: 60%;
  z-index:3;
  padding: 20px;
}


.title-back{
  font-size: 600%;
  background-color: rgb(229, 229, 229);
  color: rgb(229, 229, 229);
  position: fixed;
  top: 32%;
  right: 20%;
  text-align: center;
  width: 60%;
  z-index:2;
  opacity: 90%;
  border-radius: 50px;
}

.image{
  width: 100%;
  position: fixed;
  top: 48px;
  z-index:1;
}

.account-posts{
  background-color: rgb(229, 229, 229);
  position: fixed;
  top: 52%;
  right: 25%;
  width: 50%;
  z-index:2;

  border-radius: 20px;
}

.posts-name{
  font-size: 200%;
}

.posts-date{
  position: relative;
  top: 100%;
}

.avatar{
  width: 300px;
  position: relative;
  top: -350px;
}

.properties{
  color: rgb(252, 163, 17);
  background-color: rgb(229, 229, 229);
  font-size: 30px;
  text-align: center;
  position: fixed;
  top: 45.6%;
  right: 30%;
  width: 40%;
  z-index:3;

  border-radius: 50px;
}

.overwiew{
  position: relative;
  right: 5%;
}


.followers{
  position: relative;
  left: 5%;
}