.menu {
  font-size: xx-large;
  background-color: rgb(39, 39, 39);
  color: rgb(252, 163, 17);
  text-align: center;
  z-index: 5;
}

body {
  background: rgb(39, 39, 39);
  font-family: 'Roboto', sans-serif;
}

a {
 color: rgb(252, 163, 17); /* Цвет ссылок */
}
a:visited {
  color: rgb(252, 163, 17); /* Цвет посещенных ссылок */
 }
a:active {
  color: rgb(252, 163, 17); /* Цвет активных ссылок */
 }

.title{
  font-size: 400%;
  color: rgb(255, 157, 0);
  position: fixed;
  top: 32%;
  right: 20%;
  text-align: center;
  width: 60%;
  z-index:3;
  padding: 20px;
}


.title-back{
  font-size: 600%;
  background-color: rgb(229, 229, 229);
  color: rgb(229, 229, 229);
  position: fixed;
  top: 32%;
  right: 20%;
  text-align: center;
  width: 60%;
  z-index:2;
  opacity: 90%;
  border-radius: 50px;
}

.image{
  width: 100%;
  position: fixed;
  top: 48px;
  z-index:1;
}

.account-posts{
  background-color: rgb(229, 229, 229);
  position: fixed;
  top: 52%;
  right: 25%;
  width: 50%;
  z-index:2;

  border-radius: 20px;
}

.posts-name{
  font-size: 200%;
}

.posts-date{
  position: relative;
  top: 100%;
}

.avatar{
  width: 300px;
  position: relative;
  top: -350px;
  border: 3px solid rgb(229, 229, 229);
}

.properties-back{
  color: rgb(252, 163, 17);
  background-color: rgb(229, 229, 229);
  font-size: 30px;
  text-align: center;
  position: fixed;
  top: 45.6%;
  right: 30%;
  width: 40%;
  z-index:3;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 50px;
}

.properties{
  position: relative;
  right: -5%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


.post-name{
  font-size: 400%;
  color: rgb(255, 157, 0);
  position: fixed;
  top: 15%;
  right: 20%;
  text-align: center;
  width: 60%;
  z-index:2;
  opacity: 90%;
  border-radius: 50px;
}


.likes-of-post{
  color: rgb(255, 157, 0);
  text-align: center;
  position: fixed;
  top: 30%;
  right: 17%;
  width: 60%;
  z-index:2;
  border-radius: 10px;
}

.like-button{
  font: bold 11px Arial;
  font-size: 20px;
  background-color: rgb(255, 157, 0);
  border-top: 1px solid rgb(255, 157, 0);
  border-right: 1px solid rgb(255, 157, 0);
  border-bottom: 1px solid rgb(255, 157, 0);
  border-left: 1px solid rgb(255, 157, 0);
  color: rgb(39, 39, 39);
  position: fixed;
  top: 30%;
  right: 53%;
  z-index:2;
}

.author-name{
  font-size: 100%;
  color: rgb(255, 157, 0);
  position: fixed;
  top: 24%;
  right: 20%;
  text-align: center;
  width: 60%;
  z-index:2;
  opacity: 90%;
  border-radius: 50px;
}

.post{
  background-color: rgb(39, 39, 39);
  position: absolute;
  top: 350px;
  right: 25%;
  width: 50%;
  z-index:2;
  text-align: center;
}

.post-body{
  background-color: rgb(229, 229, 229);
  border-radius: 10px;
}


.leave-the-comment{
  color: rgb(255, 157, 0);
  font-size: 40px;
  text-align: left;
}

.comment-form{
  border-radius: 10px;
}

.comment{
  position: relative;

}

.all-posts{
  background-color: rgb(229, 229, 229);
  position: absolute;
  top: 20%;
  right: 25%;
  width: 50%;
  z-index:2;

  border-radius: 20px;
}

.all-posts-names{
  font-size: 35px;
  width: 90%;
  position: relative;
  left: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

