{% extends 'authors/my_account.html' %}

{% block posts %}

    {% if profile.post_set.all %}
        <ul >
            {% for post in profile.post_set.all %}
                    <div class="posts-name">
                        <a href='{% url 'post-detail' post.pk %}'>{{post}}</a>
                    </div>                

                    <div class='posts-date'>
                        {{post.date}} </br>
                    </div>           

            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}