{% extends 'base.html' %}

{% block content %}


<h1 class='title' > 
    {{ profile.user.get_username }} 
    <img src="{{ profile.avatar.url }}" class="mx-auto d-block avatar"/>
</h1>
<h1 class='title-back'> back </h1>

<div class="properties-back">
    <div class="properties">
    <a >overview</a>
    <a class="posts">posts</a>
    <a class="followers">followers</a>
    </div>
</div>


<img src="{{ profile.picture.url }}" class="image"/>


<div class="account-posts ">
    {% if profile.posts.all %}

        <ul >
            {% for post in profile.posts.all %}
                    <div class="posts-name">
                        <a href='{% url 'post-detail' post.pk %}'>{{post}}</a>
                    </div>                

                    <div class='posts-date'>
                        {{post.date}} </br>
                    </div>           

            {% endfor %}
        </ul>

    {% endif %}
</div>

<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ profile_form.as_table }}
    </table>
    <input type="submit" value="Submit" />
    
</form>

{% endblock %}