{% extends 'base.html' %}

{% block content %}

<h1 class='title' > My account </h1>

<p> {{profile.bio}} </p>

<img src="{{ profile.picture.url }}" class="image"/>

{% if profile.posts.all %}

    <ul>
        {% for post in profile.posts.all %}

            <li>
                <a href='{% url 'post-detail' post.pk %}'>{{post}}</a> - {{post.date}}
            </li>

        {% endfor %}
    </ul>

{% endif %}


<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ profile_form.as_table }}
    </table>
    <input type="submit" value="Submit" />
    
</form>

{% endblock %}