{% extends 'base.html' %}

{% block content %}


    {% if post_list %}

    <div class="all-posts">
    <ui>
        {% for post in post_list %}
            <div class="all-posts-names">
                <a href="{% url 'post-detail' post.pk %}"> 
                    <p >{{ post.name}}</p> 
                </a>
                    {%if post.likes%} {{post.likes.all.count}} {%else%} 0 {%endif%} 
                    <a class="author" href="{% url 'account'  post.author.pk%}">{{post.author.user.get_username}}</a>
            </div>
        {% endfor %}
    </ui>

    </div>
    {% endif %}

{% endblock %}