{% extends 'base.html' %}

{% block content %}

    <h1 class="post-name"> {{ post.name }} </h1>
    

    <h3>
        <a class="author-name" href="{% url 'my-posts' post.author.pk %}">  {{ post.author.user.get_username }}</a>
    </h3>

    </p>

     <h3 class="likes-of-post"> Likes: {%if post.likes%} {{post.likes.all.count}} {%else%} 0 {%endif%} </h3>

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form_like.as_table }}
        </table>
        <input class="like-button" type="submit" value="Like" />
    
    </form>



    <dev class="post" style="font-size:20px">
    <p class="post-body">
        {{ post.body }}

    </p>

        <dev class="comment">

        <h4 class="leave-the-comment">
            Comments:
        </h4>
        
        <ul>
            {% for comment in post.comments.all %}

                <h5 class="leave-the-comment" style="font-size:30px;"> {{comment.author.user.get_username}}: </h5>

            <div class="post-body">    
                <p> {{comment.body}} </p> 
            </div>

            {% endfor %}
        </ul>

        <h4 class="leave-the-comment">
            Leave the comment:
        </h4>
        

        <form class="comment-form" action="" method="post">
            {% csrf_token %}
            <table>
                {{ form_comment.body }}
            </table>
            <input type="submit" value="Submit" />

        </form>
        </dev>
    
    
    </dev>

{% endblock %}