{% extends 'base.html' %}

{% block content %}

    <h1> {{ post.name }} </h1>

    <h4> Likes: {%if post.likes_set%} {{post.likes_set.count}} {%else%} 0 {%endif%} </h4>

    <p>
        {{ post.body }}

    </p>

    <h3>
        <a href="{% url 'posts-of-author' post.author.pk %}">{{ post.author }}</a>
    </h3>

    <ul>
        {% for comment in post.comments.all %}

         <li>
            <h4>{{comment.author}}</h4>
            <p>{{comment.body}}</p> 
         </li>    

        {% endfor %}
    </ul>

    <h4>
        Leave the comment:
    </h4>
    
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form_comment.as_table }}
        </table>
        <input type="submit" value="Submit" />
    
    </form>



{% endblock %}